In [11]:
"""
This is a notebook to walkthrough the process of clustering the combined data.
"""

import pandas as pd
import umap
import matplotlib.pyplot as plt
import hdbscan
import numpy
import geopandas as gpd
import numpy as np

from sklearn.preprocessing import StandardScaler

In [8]:
# Import data from previous notebook
df = pd.read_pickle("data/merged_data_2022-07-08_to_2025-07-07.pkl")
print(df.head())

  dispatch_date       dispatch_time            address_block        lat  \
0    2025-05-02 2025-07-08 23:44:00      1100 BLOCK S 4TH ST  39.934248
2    2025-04-23 2025-07-08 18:32:00     1700 BLOCK N 32ND ST  39.983588
3    2025-04-24 2025-07-08 00:47:00  1300 BLOCK W Venango St  40.007425
4    2025-02-26 2025-07-08 20:16:00      400 BLOCK N 35TH ST  39.961642
5    2025-04-13 2025-07-08 03:15:00      5100 BLOCK N 5TH ST  40.029310

         lon  district_01  district_02  district_03  district_05  district_06  \
0 -75.150833        False        False         True        False        False
2 -75.186199        False        False        False        False        False
3 -75.149843        False        False        False        False        False
4 -75.192723        False        False        False        False        False
5 -75.132056        False        False        False        False        False

   ...  max_temp_f  min_temp_f  pop_total  income_median  median_age  \
0  ...        86.0        59.0     4306.0        83508.0        36.4
2  ...        77.0        54.0     4140.0        37431.0        35.5
3  ...        79.0        50.0     2807.0        49115.0        44.4
4  ...        61.0        35.0     7525.0        38976.0        20.0
5  ...        62.0        42.0     7170.0        60892.0        34.2

   poverty_rate  vacancy_rate  renter_occupancy_rate  area_sq_km  \
0      0.204366      0.032818               0.440136    0.398697
2      0.401691      0.130470               0.550792    0.453221
3      0.259708      0.204270               0.464222    0.508176
4      0.205050      0.104931               0.880205    0.436319
5      0.217434      0.042004               0.310769    0.717845

   pop_density_sq_km
0       10800.181592
2        9134.616445
3        5523.676836
4       17246.555846
5        9988.228657

[5 rows x 88 columns]

The first significant step is to scale our data, as clustering is based on distance. This is to avoid
features that are naturally greater in range, take higher importance/precedence when clustered.

In [ ]:
# Initialize StandardScaler and config it to output a DataFrame
scaler = StandardScaler()
scaler.set_output(transform='pandas')

# Extract the columns to scale
numeric_cols = df.select_dtypes(include=np.number).columns.tolist()
# NOTE: I do not want to scale the sinusoidal features as they are already in the desired range
cols_to_scale = [
    col for col in numeric_cols
    if '_sin' not in col and '_cos' not in col
]

# Fit and transform the data
df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])

# Print the scaled data as sanity check
print(df.head())

  dispatch_date       dispatch_time            address_block       lat  \
0    2025-05-02 2025-07-08 23:44:00      1100 BLOCK S 4TH ST -1.407757
2    2025-04-23 2025-07-08 18:32:00     1700 BLOCK N 32ND ST -0.323392
3    2025-04-24 2025-07-08 00:47:00  1300 BLOCK W Venango St  0.200477
4    2025-02-26 2025-07-08 20:16:00      400 BLOCK N 35TH ST -0.805715
5    2025-04-13 2025-07-08 03:15:00      5100 BLOCK N 5TH ST  0.681454

        lon  district_01  district_02  district_03  district_05  district_06  \
0 -0.066541        False        False         True        False        False
2 -0.628440        False        False        False        False        False
3 -0.050807        False        False        False        False        False
4 -0.732081        False        False        False        False        False
5  0.231798        False        False        False        False        False

   ...  max_temp_f  min_temp_f  pop_total  income_median  median_age  \
0  ...    1.028564    0.511307  -0.125704       0.135994    0.040246
2  ...    0.508399    0.198620  -0.222344       0.135475   -0.091601
3  ...    0.623991   -0.051529  -0.998372       0.135607    1.212221
4  ...   -0.416339   -0.989590   1.748291       0.135493   -2.362304
5  ...   -0.358543   -0.551829   1.541621       0.135739   -0.282047

   poverty_rate  vacancy_rate  renter_occupancy_rate  area_sq_km  \
0     -0.314030     -1.165121              -0.301037   -0.628530
2      1.162551      0.390956               0.270198   -0.529468
3      0.100093      1.566956              -0.176699   -0.429624
4     -0.308913     -0.016002               1.970707   -0.560176
5     -0.216245     -1.018731              -0.968858   -0.048689

   pop_density_sq_km
0           0.803145
2           0.351528
3          -0.627576
4           2.551075
5           0.582984

[5 rows x 88 columns]

Now, the data is ready for applying UMAP. This is a non-linear dimensionality
reduction algorithm, based on topology (allowing it to capture those non-linear patterns). This is
used, as clustering our data with over 80 columns can easily lead to the curse of dimensionality,
leading to much higher computational time and overfitting.